// Base

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,
body{
    width: 100%;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: whitesmoke;
}

header{
    width: 100%;
    h1{
        text-align: center;
    }
}

.row{
    width: 100%;
}

.container{
    width: 90%;
}

.flex{
    display: flex;
}

.flex-center{
    display: flex;
    justify-content: center;
}

.flex-between{
    display: flex;
    justify-content: space-between;
}

.flex-around{
    display: flex;
    justify-content: space-around;
}

.align-self-center{
    align-self: center;
}

.border{
    border: 0.5px solid grey;
}

.p-1{
    padding: 10px;
}

main{
    div:first-of-type{
        margin-top: 20px;
        border-radius: 8px;
    }
}

img{
    width: 150px;
    height: 150px;
    margin-left: 25px;
}

.frase{
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    background-image: linear-gradient(to right,orange,whitesmoke,aquamarine,aqua);

    h2{
        font-family: 'Sansita Swashed', cursive;
        text-align: center;
    }
    p{
        text-align: center;
    }
}

.references{
    width: 14em;
    height: 20em;
    background-color: azure;
    .icon{
        margin-top: 70px;
        i{
            font-size: xx-large;
        }
    }
}

.curriculo{
    width: 80%;
    padding: 40px;
    border-radius: 5px;
    background-color: white;
    h2{
        text-align: center;
    }
}

ul{
    list-style: none;
    li{
        margin-top: 20px;
        width: 100%;
    }
    h5{
        margin-top: 20px;
    }
    p{
        margin-top: 20px;
    }

    strong{
        font-size: large;
    }

    ul:last-of-type{
        display: flex;
        justify-content: space-around;
        li{
            i{
                font-size: x-large;
            }
        }
    }
}

footer{
    width: 100%;
    margin-top: 40px;
    background-color: white;
    background-image: linear-gradient(to right,orange,whitesmoke,aquamarine,aqua);
}

@media only screen and (max-width: 990px){
    .row:first-of-type{
       .row:last-of-type{
            display: block;
       }
    }
    section:first-of-type{
        display: flex;
        width: 100%;

        .references{
            width: 100%;
            padding: 50px;
        }

        .curriculo{
            width: 100%;
            margin-top: 40px;
        }
    }
    .cursos_adicionais{
        display: none;
    }

    ul{
        h5{
            margin-top: 20px;
        }
    }
}


@media only screen and (max-width: 600px){
    .row:first-of-type{
        display: flex;
        flex-flow: row wrap;
    }
    .img{
        width: 100%;
        display: flex;
        justify-content: center;
        img{
            width: 150px;
            height: 150px;
            margin-left: 0px;
        }
    }

    .frase{
        width: 100%;
        margin-top: 30px;
    }

    .references{
        width: 100%;
    }

    .curriculo{
        width: 100%;
        margin-top: 30px;
        padding: 10px;
    }
}
